@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Gideon+Roman&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@theme {
  --font-bebas: 'Bebas', sans-serif;
  --font-inter: 'Inter', sans-serif;
  --font-gideon: 'Gideon Roman', sans-serif;

  --color-white: #E5E5E5;
  --color-normal: #757575;
  --color-muted: #75757550;

  --color-60-background: #04050799;
  --color-full-background: #040507;

  --color-ash: #B5A986;
  --color-bronze: #CD7F32;
  --color-silver: #C0C0C0;
  --color-gold: #FFD700;
  --color-iri: #AC261B;

  --title-size: 50px;
  --header-size-1: 30px;
  --header-size-2: 25px;
  --text-size-normal: 20px;
  --text-size-small: 15px;
}

/* Global Font Classes */
@layer components {

  .bebas-header-login {
    @apply font-bebas uppercase;
    font-size: var(--title-size);
    color: var(--color-white);
  }
  .bebas-header-1 {
    @apply font-bebas uppercase;
    font-size: var(--title-size);
    color: var(--color-normal);
  }

  .inter-text-normal {
    @apply font-inter;
    font-size: var(--text-size-normal);
    color: var(--color-normal);
  }
  .inter-text-small {
    @apply font-inter;
    font-size: var(--text-size-small);
    color: var(--color-normal);
  }
}
