/* ==================== */
/* TRIAL LIST TABLE     */
/* ==================== */
.trials-list-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .back-button {
    margin-top: auto;
  }
}
.back-to-seasons-btn {
  align-self: flex-start;
  color: var(--color-muted);
  background: transparent;
  border: none;
  cursor: pointer;
  margin-bottom: 1.5rem;
  font-size: 1rem;

  &:hover {
    color: var(--color-white);
  }
}
// TODO: Fix the styles to the header, make sure it always matches the items below like an actual table
.trials-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 300;
  position: relative;
  margin-bottom: 15px;
}
.trials-header-text {
  display: flex;
  flex-direction: column;
}
.trials-header-desc {
  color: var(--color-muted);
}
.trials-header-badge {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trials-table {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
.trials-table-header {
  display: flex;
  align-items: center;
  font-size: var(--text-size-small);
  text-align: center;
  padding: 10px 5px;
  background: black;
  position: sticky;
  top: 0;
  z-index: 10;

  .table-col-1 {
    width: 25%;
  }
  .table-col-center {
    width: 25%;
  }
  .table-col-right {
    width: 22%;
    text-align: right;
  }
}
.trial-row {
  display: flex;
  gap: 10px;
  align-items: end;

  &:hover {
    background: var(--color-60-background);
    cursor: pointer;
  }

  .trial-killer-info {
    display: flex;
    gap: 10px;
    padding: 5px 0;

    .trial-list-card-wrapper {
      width: 85px;
      height: 110px;
      pointer-events: none;

      .killer-card {
        width: 100%;
        height: 100%;
        min-height: unset;
        min-width: unset;
      }
    }

    .trial-killer-details {
      .trial-killer-name {
        font-size: var(--header-size-2);
        font-family: var(--font-bebas);
        color: var(--color-white);
      }
      .trial-perks {
        display: flex;
        padding-left: 5px;

        .trial-perk-slot {
          width: 50px;
          height: 50px;
          background-color: var(--color-60-background);
          border: 1px solid var(--color-80-background);
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(45deg);
          margin: 10px 13px;

          .trial-perk-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            transform: rotate(-45deg) scale(1.35);
          }
        }
      }
    }
  }

  .trial-addons {
    display: flex;
    gap: 5px;
    margin-bottom: 18px;

    .addon-wrapper {
      display: flex;
      gap: 5px;
      align-items: center;

      .addon-plus {
        font-size: var(--header-size-2);
        color: var(--color-normal);
      }
      .trial-addon-slot {
        width: 50px;
        height: 50px;
        background-color: var(--color-60-background);
        border: 1px solid var(--color-80-background);
        display: flex;
        align-items: center;
        justify-content: center;

        .addon-image {
          width: 100%;
          height: 100%;
          max-width: unset;
          object-fit: contain;
        }
      }
    }
  }

  .trial-survivors {
    display: flex;
    margin-bottom: 15px;

    .trial-survivor-status {
      width: 40px;
      max-width: unset;
    }
  }

  .trial-grade {
    margin-bottom: 15px;
    flex: 1;
  }

}

/* ==================== */
/* TRIAL DETAILS OVERLAY*/
/* ==================== */
.trial-overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100%;
  background-color: var(--color-full-background);
  z-index: 50;
  box-shadow: 0 25px 50px -12px rgba(0,0,0,0.5);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
.overlay-header {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  gap: 20px;
  background: url('/assets/fog.png') center;
  padding: 5px 10px;

  .overlay-header-text {
    display: flex;
    flex-direction: column;
  }

  .overlay-badge {
    justify-self: end;
  }

  .close-overlay-btn {

    color: var(--color-white);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.25rem;

    &:hover {
      color: var(--color-white);
    }
  }
}
.overlay-section {
  padding: 5px 10px;

  .overlay-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;

    .overlay-item-name {
      font-size: var(--text-size-small);
      color: var(--color-muted);
    }
  }

  // PERKS
  .overlay-perks {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 10px;

    .perk-icon {
      width: 90px;
      height: 90px;
    }
    .empty-perk-icon {
      width: 54px;
      height: 54px;
      background: var(--color-muted);
      border: 2px solid var(--color-normal);
      transform: rotate(45deg);
      margin: 18px 0;
    }
  }

  // ADDONS
  .overlay-addons {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .overlay-addon-wrapper {
      display: flex;
      gap: 5px;

      .addon-plus {
        position: relative;
        top: 25px;
        right: 18px;
      }

      .addon-icon {
        width: 70px;
      }

      .empty-addon-icon {
        width: 70px;
        height: 70px;
        background: var(--color-muted);
        border: 2px solid var(--color-normal);
      }
    }
  }

  // SURVIVOR RESULTS
  .survivor-icon {
    width: 50px;
  }

  // EMBLEMS
  .overlay-emblems {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .emblem-icon {
      width: 70px;
      height: 70px;
    }
  }
}
.overlay-survivors {
  display: flex;
  justify-content: space-between;
}
