.bg-overlay {
  background: url('assets/junkyard.png');
}

.nav {
  width: 150px;
  padding-bottom: 10px;
}
.variantIconContainer {
  width: 90px;
  height: 90px;
  background: black;
  box-shadow: -6px 8px 0 #0000004D;
}
.variantIcon {
  width: 70px;
  filter: grayscale(70%);
}
.variantIconActive {
  width: 145px;
  height: 110px;
  top: -7px;
  left: -20px;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;

  &::after {
    content: ''; /* Required to make pseudo-elements render */
    position: absolute;
    top: 50%;
    right: 5px; /* Exactly 5px padding from the right edge */
    transform: translateY(-50%); /* Perfectly centers it vertically */

    /* The Magic Triangle Geometry */
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 20px solid #000;
  }
}

.secondaryNav, .secondaryNavIndicator {
  padding: 3px 25px;
  color: var(--color-normal);
  border-color: #000;

  &:hover {
    color: var(--color-white);
    cursor: pointer;
  }
}
.secondaryNavIndicator {
  background: linear-gradient(transparent, var(--color-60-background));
  border-right: 2px solid #000;
  border-left: 2px solid #000;
  color: var(--color-white);
}
