.middle-content {
  height: 95vh;
  min-width: 50vw;
  max-width: 50vw;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.squareBtn {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
